{% extends 'base_admin.html' %} {% load i18n %} {% block title %}{% trans "Confirm deletion" %}{% endblock %} {% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3>{% trans "Confirm institution deletion" %}</h3>
        </div>
        <div class="card-body">
          <p>
            {% trans "Are you sure you want to delete the institution?" %} "{{ object.name }}" ?
          </p>
          <p>{% trans "This action is irreversible." %}</p>

          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
              {% trans "Delete" %}
            </button>
            <a
              href="{% url 'institutions:institution_detail' pk=object.pk %}"
              class="btn btn-secondary"
              >{% trans "Cancel" %}</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
