{% extends "resources/resource_detail.html" %}
{% load i18n %}
{% block resource_specific_details %}

<div class="mb-4">
    <h3 class="h5 border-bottom pb-2 fw-bold"><i class="bi bi-file-earmark-text me-2"></i>{% trans "Memoir Details" %}</h3>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="mb-3">
                <span class="text-muted">{% trans "Academic Level:" %}</span>
                <strong class="ms-2">{{ specific_object.academic_level  }} </strong>
            </div>
            <div class="mb-3">
                <span class="text-muted">{% trans "Institution:" %}</span>
                <strong class="ms-2">{{ specific_object.institution }}</strong>
            </div>
            <div class="mb-3">
                <span class="text-muted">{% trans "Defense Year:" %}</span>
                <strong class="ms-2">{{ specific_object.defense_year }}</strong>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}